<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div *ngIf="showTable">
    <mat-paginator [pageSizeOptions]="itemsPerPage" [pageSize]="numItems"
                   showFirstLastButtons></mat-paginator>
    <mat-form-field class="full-width-input">
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="Search in purchases">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id"
           matSortDirection="desc">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
        <td mat-cell *matCellDef="let purchase"> {{purchase.id}} </td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product</th>
        <td mat-cell *matCellDef="let purchase"> {{purchase.product.name}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount</th>
        <td mat-cell *matCellDef="let purchase"> {{purchase.amount}} </td>
      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp</th>
        <td mat-cell *matCellDef="let purchase">
          {{ purchase.timestamp | customTimestamp }}
        </td>
      </ng-container>

      <!-- Product price -->
      <ng-container matColumnDef="productprice">
        <th mat-header-cell *matHeaderCellDef> Product price</th>
        <td mat-cell *matCellDef="let purchase">
          {{purchase.productprice | customCurrency | currency: 'EUR'}}
        </td>
      </ng-container>

      <!-- Price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Sum price</th>
        <td mat-cell *matCellDef="let purchase">
          {{purchase.price | customCurrency | currency: 'EUR'}}
        </td>
      </ng-container>

      <!-- Revoke Column -->
      <ng-container matColumnDef="revoke">
        <th mat-header-cell *matHeaderCellDef> Revoke</th>
        <td mat-cell *matCellDef="let purchase">
          <button mat-icon-button
                  [color]="purchase.revoked ? 'accent' : 'primary'"
                  (click)="toggleRevoke(purchase)"
                  [disabled]="disableRevoke(purchase)">
            {{ purchase.revoked ? 'Undo revoke' : 'Revoke' }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!showTable">
    <div class="center-card center-text">
      <h1 class="mat-h1">There are no purchases yet.</h1>
    </div>
  </div>
</div>
