.addProductButtons {
  display: inline-flex;
}

mat-list-item {
  height: 100px !important;
}

mat-list-item img {
  height: 90px !important;
  border-radius: unset !important;
}

.black-white-image{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
