.addProductButtons {
  display: inline-flex;
}

mat-list-item {
  height: 100px !important;
}

mat-list-item img {
  height: 90px !important;
  width: 90px !important;
  border-radius: unset !important;
}


