<mat-toolbar color="primary">
  <span>shop.db</span>
  <span class="fill-remaining-space"></span>
  <button routerLink="/globalhistory" mat-button>
    <mat-icon>history</mat-icon>
    History
  </button>
  <button routerLink="/settings" mat-button>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button routerLink="/register" mat-button>
    <mat-icon>person_add</mat-icon>
    Register
  </button>
</mat-toolbar>

<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex.gt-md="50%" fxFlex.gt-sm="75%" fxFlex="100">
          <div class="pagination-wrapper" id="top">
            <mat-chip-list>
              <div *ngFor="let group of sortedUsers">
                <mat-chip color="accent" [ngx-scroll-to]="group.key">{{ group.key }}</mat-chip>
              </div>
            </mat-chip-list>
          </div>
          <mat-list *ngFor="let group of sortedUsers">
            <h1 class="mat-display-1 mb-2" [id]="group.key">{{group.key}}</h1>
            <div class="mat-elevation-z1 mb-1" matRipple *ngFor="let user of group.users">
              <a mat-list-item [routerLink]="['/shop', user.id]" class="userlink">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line *ngIf="sortByLastname">
                  {{user.lastname}}, {{user.firstname}}
                </h4>
                <h4 mat-line *ngIf="!sortByLastname">
                  {{user.firstname}} {{user.lastname}}
                </h4>
                <p mat-line class="6"> {{ getRankName(user) }} </p>
              </a>
            </div>
          </mat-list>
        </div>
      </div>

      <!-- Scroll to top button -->
      <button mat-fab class="topbutton" color="accent" [ngx-scroll-to]="'top'">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
