<mat-toolbar color="primary" id="top">
  <span>shop.db</span>
  <span class="fill-remaining-space"></span>
  <button routerLink="/globalhistory" mat-button>
    <mat-icon>history</mat-icon>
    History
  </button>
  <button routerLink="/settings" mat-button>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button routerLink="/register" mat-button>
    <mat-icon>person_add</mat-icon>
    Register
  </button>
</mat-toolbar>

<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-md="50%" fxFlex.gt-sm="75%" fxFlex="100">
          <div class="pagination-wrapper">
            <mat-chip-list>
              <mat-chip
                *ngFor="let group of sortedUsers"
                color="accent"
                [ngx-scroll-to]="group.key"
                [ngx-scroll-to-offset]="75"
                [ngx-scroll-to-duration]="100">
                {{ group.key }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <mat-list *ngFor="let group of sortedUsers">
            <h1 class="mat-display-1 mb-2" [id]="group.key">{{group.key}}</h1>
            <div class="mat-elevation-z1" matRipple
                 *ngFor="let user of group.users">
              <a mat-list-item [routerLink]="['/shop', user.id]"
                 class="userlink">
                <mat-icon class="userIcon" *ngIf="!user.imagename" mat-list-icon>person</mat-icon>
                <img *ngIf="user.imagename" class="dark-bg" matListAvatar [src]="user.getImageURL()" [alt]="user.getUsername(sortByLastname)">
                <h4 mat-line>
                  {{user.getUsername(sortByLastname)}}
                </h4>
                <p mat-line class="muted"> {{ getRankName(user) }} </p>
              </a>
            </div>
          </mat-list>
        </div>
      </div>

      <!-- Scroll to top button -->
      <button mat-fab class="topbutton" color="accent" [ngx-scroll-to]="'top'"
              [ngx-scroll-to-duration]="100">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
