<mat-card>
  <!-- Show the product name. -->
  <div class="title">{{product.name}}</div>
  <!-- Show the product image. -->
  <img mat-card-image [src]="imageURL(product)">
  <!-- Show the product price. -->
  <div class="price">{{product.price | customCurrency | currency: 'EUR'}}</div>
  <mat-card-actions>
    <div class="addProductButtons">
      <!-- Decrease product count in cart by 1. -->
      <button mat-icon-button [disabled]="productCountInCart(product) === 0" (click)="removeFromCart(product)">
        <mat-icon>remove</mat-icon>
      </button>
      <!-- Show the product count in the cart. -->
      <mat-chip-list>
        <mat-chip>{{productCountInCart(product)}}</mat-chip>
      </mat-chip-list>
      <!-- Increase product count in cart by 1. -->
      <button mat-icon-button [disabled]="disableAddToCart(product)" (click)="addToCart(product)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
