.addProductButtons {
  display: inline-flex;
}

mat-card {
  text-align: center !important;
}

mat-card > img {
  width: 100% !important;
}

.title {
  font-size: 1rem;
  padding-bottom: 2rem;
  max-height: 1rem;
}

.price {
  font-size: 1.5rem;
}

.big-button {
  height: 3rem !important;
  width: 3rem !important;
  display: flex !important;
  align-items: center !important;
}

.big-icon {
  font-size: 2rem !important;
  padding-left: 0.5rem !important;
}

.item-count-chip {
  padding-top: 8px;
}

.black-white-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
