.addProductButtons {
  display: inline-flex;
}

mat-card {
  text-align: center !important;
}

mat-card > img {
  width: 100% !important;
}

.title {
  font-size: 1rem;
  padding-bottom: 2rem;
  max-height: 1rem;
}

.price {
  font-size: 1.5rem;
}
}
