<mat-card class="chart-card">
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="chart" *ngIf="chartData.length > 0">
    <ngx-charts-pie-chart
      *ngIf="chartType == 'pie'"
      [labels]="true"
      [results]="chartData"
      [legend]="false">
    </ngx-charts-pie-chart>
    <ngx-charts-bar-vertical
      *ngIf="chartType == 'bar'"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel">
    </ngx-charts-bar-vertical>
    <ngx-charts-line-chart
      *ngIf="chartType == 'line'"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [curve]="curve">
    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>
