<div #spacer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">shop.db</span>
      <span class="fill-remaining-space"></span>
      <span *ngIf="loaded" fxShow fxHide.gt-sm="true">
      <mat-icon class="toolbar-icon">person</mat-icon>
      <span class="toolbar-username">{{ user.getUsername() }}</span>
      <span>{{ user.credit | customCurrency | currency: 'EUR' }}</span>
      <button mat-icon-button [routerLink]="['/userhistory', user.id]">
        <mat-icon class="toolbar-icon">history</mat-icon>
      </button>
    </span>

    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="loaded" fxShow fxHide.gt-sm="true">
      <mat-icon
        [matBadgeHidden]="cartIsEmpty()"
        [matBadge]="numberOfCartItems()"
        matBadgeColor="warn">
        shopping_cart
      </mat-icon>
      <span class="fill-remaining-space"></span>
      <button mat-flat-button color="accent" [disabled]="disableBuyButton()" (click)="submitCart()">Buy</button>
      <button mat-button [disabled]="cartIsEmpty()" (click)="deleteCart()">Delete</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <div fxLayout fxLayoutGap="1rem">
    <app-cart
      fxFlex="35%"
      fxShow
      fxHide.lt-md="true">
    </app-cart>
    <app-products fxFlex></app-products>
  </div>
</div>
