@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();
.dark-theme {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

body {
  margin: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.muted {
  opacity: 0.5;
}

.content {
  height: 100vh;
}

.container {
  margin: 1rem;
}
