@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();
.dark-theme {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

body {
  margin: 0;
}

table {
  width: 100%;
  margin: 0 auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width-input {
  width: 100%;
}

.muted {
  opacity: 0.5;
}

.content {
  min-height: 100vh;
  height: 100%;
}

.container {
  margin: 1rem;
  padding-bottom: 1rem;
}

.center-card {
  max-width: 400px;
  margin: 2em auto;
}

.center-text {
  text-align: center;
}

.center-icon {
  margin: 0 auto;
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: 1rem * $i;
  }
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 1rem * $i;
  }
}

@for $i from 1 through 5 {
  .mr-#{$i} {
    margin-right: 1rem * $i;
  }
}

@for $i from 1 through 5 {
  .ml-#{$i} {
    margin-left: 1rem * $i;
  }
}
