<mat-toolbar color="primary">
  <span routerLink="/">shop.db</span>
  <span class="fill-remaining-space"></span>
  <button routerLink="/login" mat-button>
    <mat-icon>exit_to_app</mat-icon>
    Login
  </button>
</mat-toolbar>

<div class="center-card">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Create an account for shop.db</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Firstname" formControlName="firstname">
          <mat-error *ngIf="hasError('firstname')">
            {{getErrorMessage('firstname')}}
          </mat-error>
          <mat-hint align="end">
            {{registerForm.controls['firstname'].value.length}} / {{maxFirstnameLength}}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Lastname" formControlName="lastname" required>
          <mat-error *ngIf="hasError('lastname')">
            {{getErrorMessage('lastname')}}
          </mat-error>
          <mat-hint align="end">
            {{registerForm.controls['lastname'].value.length}} / {{maxLastnameLength}}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-hint align="start">
            The password is optional
            <mat-icon [matTooltip]="passwordInfo">info</mat-icon>
          </mat-hint>
          <mat-error *ngIf="hasError('password')">
            {{getErrorMessage('password')}}
          </mat-error>
          <mat-hint align="end">
            {{registerForm.controls['password'].value.length}} / {{maxPasswordLength}}
          </mat-hint>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Repeat password" formControlName="password_repeat" [type]="hidePassword ? 'password' : 'text'">
          <mat-error *ngIf="hasError('password_repeat')">
            {{getErrorMessage('password_repeat')}}
          </mat-error>
          <mat-hint align="end">
            {{registerForm.controls['password_repeat'].value.length}} / {{maxPasswordLength}}
          </mat-hint>
        </mat-form-field>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="close()">Go home</button>
      <button mat-button color="primary" (click)="submit()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>
