<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>Back to login
  </a>
</mat-toolbar>

<div class="container">
  <mat-card fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="40%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Create an account for shop.db</mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="registerForm">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Firstname" formControlName="firstname">
            <mat-error *ngIf="hasError('firstname')">
              {{getErrorMessage('firstname')}}
            </mat-error>
            <mat-hint align="end">
              {{registerForm.controls['firstname'].value.length}} / {{maxFirstnameLength}}
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Lastname" formControlName="lastname" required>
            <mat-error *ngIf="hasError('lastname')">
              {{getErrorMessage('lastname')}}
            </mat-error>
            <mat-hint align="end">
              {{registerForm.controls['lastname'].value.length}} / {{maxLastnameLength}}
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <mat-hint align="start">
              The password is optional
              <mat-icon [matTooltip]="passwordInfo">info</mat-icon>
            </mat-hint>
            <mat-error *ngIf="hasError('password')">
              {{getErrorMessage('password')}}
            </mat-error>
            <mat-hint align="end">
              {{registerForm.controls['password'].value.length}} / {{maxPasswordLength}}
            </mat-hint>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Repeat password" formControlName="password_repeat" [type]="hidePassword ? 'password' : 'text'">
            <mat-error *ngIf="hasError('password_repeat')">
              {{getErrorMessage('password_repeat')}}
            </mat-error>
            <mat-hint align="end">
              {{registerForm.controls['password_repeat'].value.length}} / {{maxPasswordLength}}
            </mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="disableInput" (click)="submit()">Register</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
