<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>Back to login
  </a>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50%" fxFlex.lt-md="100%">
          <mat-card-title>Settings</mat-card-title>
          <mat-card-subtitle>Customize shop.db to your needs.</mat-card-subtitle>
          <mat-list *ngFor="let item of settings">
            <mat-list-item>
              <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
              <h4 mat-line>{{ item.name }}</h4>
              <p mat-line class="muted">{{ item.description }}</p>
              <span class="fill-remaining-space"></span>
              <mat-slide-toggle
                [(ngModel)]="item.state"
                color="accent"
                (change)="setState(item)">
              </mat-slide-toggle>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

